
      <!--************************************************************************
    Main Blog content starts here
    ****************************************************************************-->
      <h1><!-- Blog title -->Post Title</h1>
      <h3><!-- Tagline -->SOME AWESOME HERO TAGLINE</h3>
      <div id="bannerImage"><img src="images/1000x250.jpg" alt="Banner"/></div>
      <article><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p></article>
      <aside id="authorInfo"> 
        <!-- The author information is contained here -->
        <h2>Author Name</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </aside>
    </section>
    <section id="sidebar"> 
      <!--************************************************************************
    Sidebar starts here. It contains a searchbox, sample ad image and 6 links
    ****************************************************************************-->
      <input type="text" placeholder="Search">
      <div id="adimage"><img src="images/300X250.jpg" alt="ADS"/></div>
      <nav>
        <ul>
          <li><a href="https://www.facebook.com/home.php#_=_" title="Link">Facebook</a></li>
          <li><a href="https://www.youtube.com" title="Link">Youtube</a></li>
          <li><a href="https://plus.google.com" title="Link">Google+1</a></li>
          <li><a href="https://twitter.com" title="Link">twitter</a></li>
        </ul>
      </nav>
    </section>
    <footer> 
      <!--************************************************************************
    Footer starts here
    ****************************************************************************-->
      <article>
        <h3>Footer1</h3>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
         style="display:block"
         data-ad-format="fluid"
         data-ad-layout="image-top"
         data-ad-layout-key="-8i+1w-dq+e9+ft"
         data-ad-client="ca-pub-1427332075367112"
         data-ad-slot="6896754846"></ins>
       <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
       </script>
      </article>
      <article>
        <h3>Footer2</h3>
        <img src="images/300X250.png" alt="ADS"/>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </article>
    </footer>
  </div>
  <div id="footerbar"><!-- Small footerbar at the bottom --></div>
</div>
</body>
</html>
