<h2 class="sign">Login:</h2>

<form action="/login" method="post">
	<input type="text" name="user[username]" placeholder="Username">
	<input type="text" name="password" placeholder="Password">
	<input type="submit" />
</form>