<h3>Current User:</h3>
<%= current_user.username %>
<h4>City:</h4>
<%= current_user.city %>
<h5>School</h5>
<%= current_user.school %>
<br>
<br>

<form action="/destroy_user" method="post">
	<input type="submit" value="Delete your account">
</form>

<hr>

<form action="/edit_user" method="post">
<p class="toblog">Want to edit your account?</p>
	<input type="text" name="password" placeholder="Password">
	<input type="text" name="city"	placeholder="city">
	<input type="text" name="school" placeholder="school">
	<input type="submit" />
</form>




<form action="/blog" method="post">
<p class="toblog">What's on your mind??</p>
		<input type="text" name="title"
		placeholder = "Title" >

		<input type="text" name="category"
		placeholder="Category">

		<textarea rows="4" cols="50" maxlength="150" name="content"
		placeholder="Enter text here..."></textarea>
		<input type="submit">
</form>
