<h2 class="sign">Sign In:</h2>

<form action="/login" method="post">
	<input type="text" name="user[username]" placeholder="Username">
	<input type="text" name="password" placeholder="Password">
	<input type="submit" />
</form>

<h2 class="sign">or Sign Up!</h2>
<form action="/new_user" method="post">
	<input type="text" name="user[username]" placeholder="Username">
	<input type="text" name="password" placeholder="Password">
	<input type="text" name="city"	placeholder="city">
	<input type="text" name="school" placeholder="school">
	<input type="submit" />
</form>
